<link rel="stylesheet" href="/static/videos.css">
<div class="right-container one-line">
  <div class="container">
    <style>
      .vertical-menu {
          width: 100%;
      }
      
      .vertical-menu a {
          background-color: #eee;
          color: black;
          display: block;
          padding: 12px;
          text-decoration: none;
      }
      
      .vertical-menu a:hover {
          background-color: #ccc;
      }
      
      </style>
      {% if access == "True" %}
     {% for video in table_data %}
      <div class="vertical-menu">
        <a href="{{ video.id }}">{{ video.name }}</a>
      </div>
     {% endfor %}
     {% elif access == "False" %}
      <center>
      <h3>you have a basic subscription</h3>
      <h1> you are not able to watch the videos till you upgrade your subscription to Pro or Premuim</h1>
      </center>
      {% endif %}
  </div>
</div>