{% extends "base.html" %}

{% block content  %}
<!-- <link rel="stylesheet" href="/static/login.css" type="text/css"> -->
<!-- <link rel="stylesheet" href="/static/signup/signup.css" type="text/css"> -->

<script src="https://www.paypal.com/sdk/js?client-id=sb&disable-funding=credit"></script>

<link rel="stylesheet" href="/static/accounting/accounting.css" type="text/css">


<div class="checkout-container">
	<div class="top-container">
		<h2>Please read cerafully before you submit the payment</h2>
		<p>If you have any question or if you have any concerns please visit <a href="/coming-soon">contact</a>  page</p>
	</div>
	<div class="payment-column">
		<div class="item">
			<ul class="price">
			{% for p in plan%}
          <li class="header-basic">{{p.name}}</li>
              <li >${{p.price}}/year</li>
              <li>{{p.description}}</li>
              <li>{{p.option1}}</li>
              <li>{{p.option2}}</li>
              <li>{{p.option3}}</li>
			</ul>
		</div>
	
		<div class="item">
			<div  class="price">
				<div class="payment-message">
					<h2>Please choose your payment method</h2>
				</div>
				<div id="paypal-button-container" class=""></div>
			</div>
		</div>
	</div>
	
	
</div>


<script>

	 	function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		var productId = '{{p.id}}'
		var total = '{{p.price}}'


	 	function completeOrder(){
	 		var url = "{% url 'complete' %}"

	 		fetch(url, {
	 			method:'POST',
	 			headers:{
	 				'Content-type':'application/json',
	 				'X-CSRFToken':csrftoken,
	 			},
	 			body:JSON.stringify({'productId': productId})
	 		})
	 	}



	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({

		// Set up the transaction
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: total
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				// Show a success message to the buyer
				completeOrder()
				alert('Transaction completed by ' + details.payer.name.given_name + '!');
			});
		}


	}).render('#paypal-button-container');

</script>
				{% endfor %}

{% endblock content  %}