{% extends "base.html" %}
{% load static %}

{% block content  %}

<link rel="stylesheet" href="/static/accounting/accounting.css" type="text/css">

<style>
.image{
	margin-top:0px;
	heigth:10%;
	width:10%;
}
</style>

<div class="checkout-container">
	<div class="top-container">
    <center>
        <img class="image" id="succes-icon" src="{% static 'accounting/check.png' %}">
		<h2>Your payment was successfully made !!</h2>
        <a href="/home">Continue</a>
    </center>
	</div>	
</div>


{% include "footer.html" %}

{% endblock content  %}