{% extends "base.html" %}
{% block content  %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
<link rel="stylesheet" href="/static/signup/signup.css" type="text/css">
<div class="wrapper">
  
  <div class="user">
    <header class="user__header">
        <h1 class="user__title" style="color:black; margin-bottom:10px;">FAQ</h1>
    </header>
 
    <h3 style="margin-bottom:50px;">thank you for contacting us , you will receive a response as soon as possible by one of our stuff!<h3>
    <center><a href="/">return to Home Page</a><center>

  </div>
</div>

{% include "footer.html" %}
{% endblock %}