
{% extends "base.html" %}
 {% block content  %}
<link rel="stylesheet" href="/static/signup/signup.css" type="text/css">
<div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title">Signup to academy</h1>
    </header>
    
    {% comment %} <form class="form" method="post">
        <div class="form__group">
            <input type="text" placeholder="Username" id="username" class="form__input" />
        </div>
        
        <div class="form__group">
            <input type="email" placeholder="Email" id="email" class="form__input" />
        </div>
        
        <div class="form__group">
            <input type="password" placeholder="Password" id="password" class="form__input" />
        </div>
        
        <div class="form__group">
            <button class="form__input btn" type="button">Register</button>
        </div>
        
    </form> {% endcomment %}

  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red" class="form__input">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %} 



    <button type="submit" class="form__input btn">Register</button>
  </form>



</div>
{% comment %} <script>
    const button = document.querySelector('.btn')
    const form   = document.querySelector('.form')

    button.addEventListener('click', function() {
    form.classList.add('form--no') 
    });
</script> {% endcomment %}

{% endblock %} 
